.contenido {
    padding: 2rem;
    text-align: justify;
   color:white;
}

.imagen{
    max-height: 300;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.contenido h3{
    font-weight: 400;
    font-size: 2.8rem;
    margin: 0;
    line-height: 1.2;
}

.fecha {
    font-size: 1.6rem;
    color: var(--primary);
}


.enlace {
   
text-align: center;

}

.enlace:hover {
   
    color: var(--blanco);
    transform: translateY(-20px);

}

.resumen {
    text-align: justify;
    font-size: 2.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;

}