.header {
background-image: linear-gradient(to right, rgb(0 0 0 / .6) , rgb(0 0 0 / .5)),url('../../public/img/header4.jpg');
background-size: cover;
background-position: 50%;
padding: 2rem 0;
}


.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:768px){
    .barra{
        flex-direction: row;
        justify-content: space-between;
    }
}



.navegacion{
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    
}

@media only screen and (max-width: 768px) {
    .navegacion{
        flex-direction: column;       
    }    
    
}





.navegaciones a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2.0rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem;
    transition-property: background-color;
    transition-duration: .3s;
    
}

  .customtoggler {
    color: var(--blanco);
    text-decoration: none;    
    text-transform: uppercase;    
    transition-property: background-color;
    transition-duration: .3s;
}

.customtoggler:hover{
    background-color: var(--primary);
    color: white;
  }